## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'國家': ['美國','德國','日本','英國','中國','台灣'],       
        '人口':[ ]}

In [3]:
for i in data['國家']:
     data['人口'].append(np.random.randint(10000,100000000))

In [4]:
country = pd.DataFrame(data)
country

   國家        人口
0  美國  93132073
1  德國   4195775
2  日本  40741762
3  英國  31638311
4  中國  28650212
5  台灣  16296206

In [5]:
max_people=country['人口'].max()
country[country['人口']==max_people]

   國家        人口
0  美國  93132073